@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;800&display=swap');

:root{
    font-family: 'Montserrat', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
:root::-webkit-scrollbar {
    display: none;
}
#first-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#logo-line{
    display: flex;
    align-items: center;
    margin: 0;
}
#acorn-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 13%;
    height: 13%;
    margin-top: 9%;
    position: relative;
    left: 43%;
    opacity: 0;
    transition: left 700ms ease 600ms, opacity 300ms ease 100ms;
}

#title{
    font-size: 10rem;
    font-weight: bold;
    margin-top: 10%;
    height: 10rem;
}
#subtitle{
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    

}
#slogan{
    opacity: 0;
    margin-top: 6%;
    transition: opacity 1000ms ease 2300ms;
}


#scroll-bar{
    --height: 100px;
    position: fixed;
    height: var(--height);
    width: 90px;
    top: 90vh;
    left: 3vw;
    transform: translateY(calc(-1 * var(--height)));
    background-color: salmon;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    min-height: 100px;
    box-shadow: inset 0 0 5px black;
    --top: 500px;


}
#scroll-bar::after{
    content: "";
    width: 100%;
    height: 10%;
    position: absolute;
    z-index: -1;
    top: var(--top);
    left: 0;
    box-shadow: 0 0 0px rgb(153, 75, 67);
    transition: box-shadow 500ms;
}
#scroll-bar:hover::after{
    box-shadow: 0 0 10px rgb(153, 75, 67);
}
.arrow{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius : 50%;
    box-shadow: 0 0 7px black;
    background-color: #f5f5f5;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    cursor: pointer;
    transition: box-shadow 300ms ease;
}
.arrow:hover{
    box-shadow: 0 0 12px black;
}
.arrow::after{
    content: "";
    border: solid black;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(var(--rotate));
    -webkit-transform: rotate(var(--rotate));
}
#up-arr{
    top: 0%;

    z-index: 0;
}
#down-arr{
    bottom: 0%;
    z-index: 2
}
@keyframes move-in {
    0%{
        width: 70%;
    }
    100%{
        width: 25%;
    }
}

 #second-page{
    display: grid;
    padding-left: 13%;
    grid-template-columns: repeat(3, 28%);
    grid-template-rows: repeat(3, 15vw);
    align-items: center;
    justify-items: center;
}


.gridling{
    position: relative;
    grid-row: var(--row);
    grid-column: var(--col);
}
.gridling::before{
    content: "";
    width: 11vw;
    height: 11vw;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgb(241, 205, 1);
    border-radius: 10px;
    animation: rotate 10000ms ease-in infinite;
}
.diamond{
    width: 10vw;
    height: 10vw;
    position: relative;
    transform: rotate(45deg);
    overflow: hidden;
    position: relative;
    border: 10px solid rgba(243, 208, 11, 0.932);
    border-radius: 10px;


}

.diamond::after{
    content: "";
    display: block;
    background: var(--image) no-repeat center center/cover;
    position: absolute;
    width: 15vw;
    height: 100%;
    transform: rotate(-45deg) scale(var(--scale));
    top: var(--topShift);
    left: var(--leftShift);
 
}



.paragraph{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    width: 100%;
    grid-row: var(--row);
    grid-column: var(--col);
    position: relative;
    --scale: 0;


}
.paragraph::after{
    content: "";
    position: absolute;
    background-color: rgb(100, 155, 226);
    border: 3px solid white;
    opacity: var(--opacity);
    border-radius: 30px;

}
#p1::after{
    z-index: -4;
    width: 70vw;
    height: 10vw;
    transform: rotate(65deg) scaleX(var(--scale));
    top: 170%;
    left: -70%;
    transition: transform 700ms;

}

#p2::after{
    z-index: -1;
    width: 70vw;
    height: 10vw;
    transform: rotate(105deg) scaleX(var(--scale));
    top: -80%;
    left: -200%;
    border-radius: 30px;
    transition: transform 700ms 600ms;

}

#p2::before{
    content: "";
    z-index: -1;
    position: absolute;
    width: 120vw;
    height: 10vw;
    transform: rotate(-20deg) scaleX(var(--scale));
    background-color: rgb(100, 155, 226);
    top: -380%;
    left: -200%;
    opacity: var(--opacity);
    border-radius: 30px;
    transition: transform 700ms 200ms;
    border: 3px solid white;

}
#p3::after{
    z-index: -2;
    width: 110vw;
    height: 10vw;
    transform: rotate(-5deg) scaleX(var(--scale));
    top: 0%;
    left: -270%;
    transition: transform 700ms 400ms;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    12%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(90deg);

    }
}

#third-page{
    height: 90vh;
    display: flex;
    justify-content: space-between;
    padding-top: 10%;
    margin-left: 20%;
    margin-right: 9%;
}
#donation-bar{
    width: 15vw;
    height: 90%;
    border: 5px solid black;
    text-align: center;
    position: relative;
    border-radius: 20px;
    background-color: #dad2d24d;
    --bar-height: 20%;
    --shadow: rgb(143, 7, 7);
    box-shadow:inset 0 0 18px black;

    --bar-color: linear-gradient(135deg, rgb(245, 52, 52) 0%, rgba(203,21,21,1) 26%, rgba(79,3,3,1) 100%);
    /*  */

}
#donation-bar::after{
    content: "";
    width: 100.5%;
    height: var(--bar-height);
    background: var(--bar-color);
    position: absolute;
    bottom:-1px;
    left: -1px;
    transition: height 500ms ease, background-color 300ms ease;
    border-radius: 15px;


}
#donation-bar p{
    margin-top: 40px;
}
#options{
    display: grid;
    grid-template-columns: repeat(3, 12vw);
    grid-template-rows: repeat(3, 12vw);
    grid-gap: 3vw 5vw;
    width: 60%;
    height: 100%;
}
.option{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 6px black;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.option::after{
    content: var(--quip);
    opacity: 0;
    color: rgba(155, 151, 151, 0.897);
    font-style: italic;
}
.option:hover::after{
    opacity: 1;
    transition: opacity 500ms 200ms ease;

}
.option:hover div{
    transform: translateY(-30%);
}
.option h3{
    font-size: 1.5rem;
}
.option div{
    width: 80%;
    transition: transform 500ms ease;

}

#message{
    grid-row: 3;
    grid-column: 1 / 4;
}