@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;800&display=swap');

:root{
    font-family: 'Montserrat', sans-serif;
}

#first-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#logo-line{
    display: flex;
    align-items: center;
    margin: 0;
}
#acorn-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 13%;
    height: 13%;
    margin-top: 9%;
    position: relative;
    left: 43%;
    opacity: 0;
    transition: left 700ms ease 600ms, opacity 300ms ease 100ms;
}

#title{
    font-size: 10rem;
    font-weight: bold;
    margin-top: 10%;
    height: 10rem;
}
#subtitle{
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    

}
#slogan{
    opacity: 0;
    margin-top: 6%;
    transition: opacity 1000ms ease 2300ms;
}


#scroll-bar{
    position: fixed;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 7px black;
    background-color: #f5f3f127;
    top: 80vh;
    left: 3vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    transition: box-shadow 300ms ease;
}
#scroll-bar:hover{
    box-shadow: 0 0 12px black;
}
#scroll-bar::after{
    content: "";
    border: solid black;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

@keyframes move-in {
    0%{
        width: 70%;
    }
    100%{
        width: 25%;
    }
}

 #second-page{
    display: grid;
    padding-left: 10%;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, 15vw);
    align-items: center;
    justify-items: center;
}
#campus-grid{
    grid-row: 1;
    grid-column: 2;
    position: relative;
}
#campus-grid::before{
    content: "";
    width: 11vw;
    height: 11vw;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgb(243, 208, 11);
    border-radius: 10px;
    animation: rotate 5000ms ease-in infinite;
}
/* #campus-container::after{
    content: "";
    position: absolute;
    width: 11vw;
    height: 11vw;
    top: -5%;
    left: 14%;
    background-color: gold;
    z-index: -1;
    transform: rotate(45deg);
} */
#para1{
    width: 100%;
    grid-row: 1;
    grid-column: 3;
}


#test-container{
    grid-row: 2;
    grid-column: 3;
}

#para2{
    width: 100%;
    grid-row: 2;
    grid-column: 2;
}
#ceo-container{
    grid-row: 2;
    grid-column: 1;
}
#para3{
    width: 100%;
    grid-row: 3;
    grid-column: 3;
}

#tiktok-container{
    grid-row: 3;
    grid-column: 2;
}

.diamond{
    width: 10vw;
    height: 10vw;
    position: relative;
    transform: rotate(45deg);
    overflow: hidden;
    position: relative;
    border: 10px solid rgb(255, 225, 55);
    border-radius: 10px;


}

#campus-container::after{
    content: "";
    display: block;
    background: url('./campus.jpg') no-repeat center center/cover;
    position: absolute;
    width: 15vw;
    height: 15vw;
    transform: rotate(-45deg);
    top: -30%;
    left: -25%;
}
.diamond img{
    /* width: 15vw;
    transform: scale(1.7); */
    width: 100%;
    object-fit: fill;
    transform: rotate(-45deg);

    
}
/* img[src = "campus.jpg"] { 
    transform: scale(1.4);
    clip-path: polygon(50% 0, 85% 50%, 50% 100%, 16% 50%);
}
img[src = "test.jpg"]{
    clip-path: polygon(50% 0, 80% 50%, 50% 100%, 20% 50%);

}
img[src = "CEO.jpg"]{
    clip-path: polygon(50% 0, 80% 50%, 50% 100%, 20% 50%);
}
img[src = "Tiktok_logo.jpg"]{
    clip-path: polygon(50% 0, 80% 50%, 50% 100%, 20% 50%);

  
} */

.paragraph{
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(90deg);

    }
}