@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;800&display=swap');

:root{
    font-family: 'Montserrat', sans-serif;
}

#first-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#logo-line{
    display: flex;
    align-items: center;
    margin: 0;
}
#acorn-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 13%;
    height: 13%;
    margin-top: 9%;
    position: relative;
    left: 43%;
    opacity: 0;
    transition: left 700ms ease 600ms, opacity 300ms ease 100ms;
}

#title{
    font-size: 10rem;
    font-weight: bold;
    margin-top: 10%;
    height: 10rem;
}
#subtitle{
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    

}
#slogan{
    opacity: 0;
    margin-top: 6%;
    transition: opacity 1000ms ease 2300ms;
}


#scroll-bar{
    position: fixed;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 7px black;
    background-color: #f5f3f127;
    top: 80vh;
    left: 3vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    transition: box-shadow 300ms ease;
}
#scroll-bar:hover{
    box-shadow: 0 0 12px black;
}
#scroll-bar::after{
    content: "";
    border: solid black;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

@keyframes move-in {
    0%{
        width: 70%;
    }
    100%{
        width: 25%;
    }
}

 #second-page{
    display: grid;
    padding-left: 13%;
    grid-template-columns: repeat(3, 28%);
    grid-template-rows: repeat(3, 15vw);
    align-items: center;
    justify-items: center;
}


.gridling{
    position: relative;
    grid-row: var(--row);
    grid-column: var(--col);
}
.gridling::before{
    content: "";
    width: 11vw;
    height: 11vw;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgb(241, 205, 1);
    border-radius: 10px;
    animation: rotate 5000ms ease-in infinite;
}
.diamond{
    width: 10vw;
    height: 10vw;
    position: relative;
    transform: rotate(45deg);
    overflow: hidden;
    position: relative;
    border: 10px solid rgba(243, 208, 11, 0.932);
    border-radius: 10px;


}

.diamond::after{
    content: "";
    display: block;
    background: var(--image) no-repeat center center/cover;
    position: absolute;
    width: 15vw;
    height: 100%;
    transform: rotate(-45deg) scale(var(--scale));
    top: var(--topShift);
    left: var(--leftShift);
 
}



.paragraph{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    width: 100%;
    grid-row: var(--row);
    grid-column: var(--col);
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(90deg);

    }
}